@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;

  /*padding: 10px;*/
}

.light-background {
  padding-bottom: 50px;
  background-color: rgb(250, 250, 250);
}

.h1-light {
  margin: 20px;
  color: black;
}

.h2-light {
  text-transform: uppercase;
  margin: 0;
  padding-top: 25px;
  color: black;
}

.social-card-light {
  background-color: #fff;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  box-shadow: 0px 0px 5px 5px rgb(244, 244, 244);
}

.card-description-light {
  margin: 0px;
  padding-top: 15px;
}

.account-name-light {
  text-decoration: none;
  color: rgb(174, 174, 174);
  margin: 0px;
  padding-top: 10px;
}

.github-image-box {
  text-decoration: none;
  background-image: linear-gradient(to bottom, #d4d4e3 0%, #cef1fd 50%);

  padding: 20px;
  border-radius: 20px;
}

.twitter-image-box {
  text-decoration: none;
  background-image: linear-gradient(
    to bottom,
    rgb(190, 225, 245) 0%,
    rgb(248, 243, 244) 50%
  );
  padding: 20px;
  border-radius: 20px;
}

.instagram-image-box {
  text-decoration: none;
  background-image: radial-gradient(
    circle at 0% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  padding: 20px;
  border-radius: 20px;
}

.logo {
  padding: 10px;
}

.arrow-space {
  margin: 0;
  padding-top: 15px;
}

.blue-arrow {
  color: rgb(0, 172, 238);
}
/*Dark-Theme*/

.dark-background {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  background-color: rgb(5, 5, 5);
  /*box-shadow:0px 0px 5px black, 0px 0px 10px black, 0px 0px 50px black,
  0px 0px 100px black, 0px 0px 200px black, 0px 0px 500px black;*/
}

.h1-dark {
  padding-top: 50px;
  margin: 20px;
  color: white;
}

.h2-dark {
  text-transform: uppercase;
  margin: 0;
  padding-top: 25px;
  color: white;
}

.social-card-dark {
  background-color: rgb(0, 0, 0);
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  box-shadow: 0 0 2px white, 0 0 5px rgb(64, 0, 255), 0 0 6px rgb(64, 0, 255),
    0 0 7px rgb(64, 0, 255), 0 0 8px rgb(64, 0, 255), 0 0 9px rgb(64, 0, 255),
    0 0 10px rgb(64, 0, 255);
}

.card-description-dark {
  color: white;
  margin: 0px;
  padding-top: 15px;
}

.account-name-dark {
  text-decoration: none;
  color: rgb(174, 174, 174);
  margin: 0px;
  padding-top: 10px;
}
